body{
    background-color: rgb(222, 237, 237);
}
.daniel{
    width: 590px;
    background-color: rgb(137, 44, 224);
    justify-content: left;
    object-fit: cover;
    border-radius: 10px;
}

.profile{
    border-radius: 50%;
}

.jonathan{
    width: 590px;
    background-color: rgb(64, 62, 62);
    border-radius: 10px;
}

.jeanette{
    width: 590px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.patrick{
    width: 590px;
    background-color: rgb(74, 21, 21);
    border-radius: 10px;
}
.kira{
    width: 590px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}